<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Fund</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/acq/bootstrap.min.css" />
  <script src="/acq/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Fund</h2>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          <a href="/acq/funds">Funds</a> |
          <a href="/acq/invoices">Invoices</a> |
          <a href="/acq/po_lines">POLines</a>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" type="button" id="reload">reload</button>
          <button class="btn btn-primary" type="button" id="delete">delete</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-12">
          <br />
          <div class="alert alert-success" id="success" style="display: none;"></div>
          <div class="alert alert-danger" id="error"    style="display: none;"></div>
          <textarea id="json" cols="100" rows="100"></textarea>
          <button class="btn btn-primary" type="button" id="put" style="vertical-align:top">save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    /*<![CDATA[*/
    $(document).ready(function() {
      $('.btn').click(function() {
        $('#success').hide();
        $('#error').hide();
      });
      $('#reload').click(function() {
        $('#json').empty();
        $.ajax({
          type: "GET",
          cache: false,
          headers: { Accept : "application/json" },
          success: function(json){
            $('#json').text(JSON.stringify(json, null, "\t"));
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#error').text(XMLHttpRequest.responseText);
            $('#error').fadeIn(100);
          }
        });
      })
      $('#delete').click(function() {
        $.ajax({
          type: "DELETE",
          headers: { Accept : "text/plain" },
          success: function(text) {
            $('#json').empty();
            if (! text) {
              $('#success').text("deleted");
              $('#success').show();
            } else {
              $('#error').text(text);
              $('#error').show();
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#error').text(XMLHttpRequest.responseText);
            $('#error').show();
          }
        });
      })
      $('#put').click(function() {
        $.ajax({
          type: "PUT",
          headers: { Accept : "text/plain" },
          data: $('#json').val(),
          contentType: "application/json",
          success: function(text) {
            $('#success').text("saved");
            $('#success').show();
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#error').text(XMLHttpRequest.responseText);
            $('#error').show();
          }
        });
      })
      $('#reload').click();
    });
    /*]]>*/
  </script>
</body>
</html>