<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Invoices</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/acq/bootstrap.min.css" />
  <script src="/acq/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h2>List of Invoices</h2>
		</div>
		<div class="page-header">
			<div class="row">
        <div class="col-md-6">
          <a href="/acq/funds">Funds</a> |
          <a href="/acq/invoices">Invoices</a> |
          <a href="/acq/po_lines">POLines</a>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" type="button" id="reload">reload list of invoices</button>
          <button class="btn btn-primary" type="button" id="new">create new invoice</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-12">
          <br />
          <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>
          <div class="alert alert-danger"  role="alert" id="error"   style="display: none;"></div>
          <br />
          Invoices: <span id="count"></span>
          <br />
          <table class="table"></table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
      $('.btn').click(function() {
        $('#success').hide();
        $('#error').hide();
      });
      $('#new').click(function() {
        $.ajax({
          type: "POST",
          cache: false,
          headers: { Accept: "application/json", "X-Okapi-Tenant": "hbz" },
          success: function(json) {
            window.location.href = "invoices/" + json._id;
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#error').text(XMLHttpRequest.responseText);
            $('#error').show();
          }
        });
      });
      $('#reload').click(function() {
        $('table').empty();
        $.ajax({
          type: "GET",
          cache: false,
          headers: { Accept: "application/json", "X-Okapi-Tenant": "hbz" },
          success: function(json){
            $('#count').text(json.total_records);
            $('table').empty();
            $('table').append('<tr><th>id</th><th>total amount</th><th>payment status</th></tr>');
            for (var i = 0; i < json.invoices.length; i++) {
              var invoice = json.invoices[i];
              $('table').append('<tr>'
                  + "<td><a href='invoices/" + invoice._id + "'>" + invoice._id + "</a></td>"
                  + "<td>" + invoice.total_amount + " " + invoice.currency.value + "</td>"
                  + "<td>" + invoice.payment.payment_status + "</td>");
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            $('#error').text(XMLHttpRequest.responseText);
            $('#error').show();
          }
        });
      });
      $('#reload').click();
    });
    /*]]>*/
  </script>
</body>
</html>
